@charset "utf-8";

/* common */
.contents {
  margin-bottom: 10px;
}
.contents h2 {
  font-size: 76px;
  @media (width<=530px) {
    font-size: 72px;
  }
}

body {
  background-image: linear-gradient(#192d67 65%, #007b73);
  font-family: "SCoreDream";
  padding: 10px;
}

/* header */

/* main */
.main h3 {
  width: 50vw;
  @media (width<=530px) {
    width: 60vw;
  }
}

/* LINEUP */
.lineup .lineup-contents .lineup-box .date {
  font-size: 28px;
  @media (width<=530px) {
    font-size: 24px;
  }
}
.lineup .lineup-contents .lineup-box .stage-wrap .stage {
  width: 100%;
}
.lineup .lineup-contents .lineup-box .stage-wrap .stage h4 {
  width: 100%;
  border-bottom: #232323 solid 3px;
  text-align: center;
}
.lineup .lineup-contents .lineup-box .stage-wrap .stage ul {
  text-align: center;
  width: 90%;
  font-size: 32px;
  justify-content: center;
  gap: 10px 20px;
  margin: 70px 0 0;
  @media (width<=530px) {
    font-size: 26px;
  }
}
.lineup .lineup-contents .lineup-box .stage-wrap .stage ul .head {
  font-size: 36px;
  @media (width<=530px) {
    font-size: 30px;
  }
}
.lineup .lineup-contents .lineup-box .stage-wrap .stage ul li span {
  font-size: 20px;
}
.lineup .lineup-contents .lineup-box .tencm {
  @media (width<=530px) {
    width: 45vw;
    right: 0;
  }
}
.lineup .lineup-contents .lineup-box .solutions {
  right: 200px;
  @media (width<=625px) {
    right: 160px;
  }
  @media (width<=530px) {
    width: 28vw;
    right: 100px;
  }
}
.lineup .lineup-contents .lineup-box .space {
  @media (width<=530px) {
    top: 60px;
    width: 32vw;
  }
}

/* TIMETABLE */
.timetable .timetable-box .timetable-contents {
  padding: 20px;
}
.timetable .timetable-box .timetable-contents .timeIMG {
  display: none;
}
.timetable .timetable-box .timetable-contents .select-box {
  display: inline-block;
}
.timetable .timetable-box .timetable-contents img {
  border-radius: 0;
}
.timetable .timetable-box .timetable-contents .select-box select {
  width: 100%;
  font-size: 34px;
  margin: 20px 0 40px;
  padding: 20px;
  border: 4px solid #192d67;
}

/* TICKET */
.ticket .notice p {
  font-size: 16px;
}

/* footer */
footer {
  margin-top: 50px;
}
footer .footer-box .logo-box {
  width: 100%;
}
footer .footer-box .logo-box .btn-box {
  margin: 5px 0 650px;
}
footer .footer-box .logo-box .btn-box button {
  padding: 5px;
}
footer .footer-box .logo-box .btn-box button .num {
  padding: 6px 10px;
}
footer .footer-box .logo-box .btn-box button img {
  right: 10px;
  top: 6px;
  height: 25px;
}
footer .footer-box .link-box {
  width: 100%;
  top: 200px;
  flex-direction: column;
  gap: 5px;
}
footer .footer-box .link-box a {
  width: 100%;
  height: 300px;
}
